<footer>
    <div class="container-fluid">
        
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a><strong>Umbrella Irrigation</strong></a>, We got you covered. 
        </p>
    </div>
</footer>
