<div class="main-content">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" id="formDiv">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
           <div class="form-group">
            <label for="name">Name</label>
            <input
               type="text"
               placeholder="Enter your full name"
               id="name"
               class="form-control"
               ngModel
               name="name"
               required>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
               type="text"
               placeholder="Enter your username"
               id="username"
               class="form-control"
               ngModel
               name="username"
               required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
               type="email"
               placeholder="Enter your email"
               id="email"
               class="form-control"
               ngModel
               name="email"
               required
               email>
          </div>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            placeholder="Enter your password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required>
        </div>
        <div class="form-group">
          <label for="access">Select Access Level</label>
          <select
             id="access"
             class="form-control"
             ngModel
             name="access"
             required>
            <option value="" disabled selected>please choose</option>
            <option value="admin">Admin Level</option>
            <option value="user">User Level</option>
          </select>
        </div>
        <button
           class="btn btn-primary"
           type="submit"
           [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>