.notifications {
  max-width: auto;
  max-height:500px;
  overflow: auto;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 25px;
}

#customButton {
  margin-left: 45px;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}



