/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.right-aligned-header > .mat-content {
    justify-content: space-between;
    padding-top: 15px;
  }
  
  .mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
  }